# Zero sync server URL (defaults to http://localhost:4848 if not set)
VITE_ZERO_SERVER="http://localhost:4848"
# Upstream Postgres DB
ZERO_UPSTREAM_DB="postgres://postgres:pass@localhost:5432/zero"
# Query URL: https://zero.rocicorp.dev/docs/queries#server-setup
ZERO_QUERY_URL="http://localhost:3000/api/query"
# Mutate URL: https://zero.rocicorp.dev/docs/mutators#server-setup
ZERO_MUTATE_URL="http://localhost:3000/api/mutate"
