# Dependencies
node_modules/

# Build outputs
dist/
dist-ssr/
out/
.vite/
*.tgz
*.local

# Logs
logs/
*.log

# Testing & Coverage
coverage/
*.lcov

# Caches
.cache/
.eslintcache
*.tsbuildinfo

# Docker
.docker/

# Database (Drizzle)
*.db
*.db-shm
*.db-wal
*.db-wal2
.drizzle/

# Editor & IDE
.vscode/
.idea/
.cursor/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store

# Environment variables
.env

# Tanstack Start
node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json
