version: "3.9"

services:
  upstream_db:
    image: postgres:18
    environment:
      POSTGRES_DB: zero
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
    command: postgres -c wal_level=logical
    volumes:
      # automatically runs drizzle migrations in alphabetical order
      - ./packages/db/migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: pg_isready -U user --dbname=postgres
      interval: 10s
