services:
  upstream-db:
    image: postgres:18
    environment:
      POSTGRES_DB: zero
      POSTGRES_PASSWORD: password
    ports:
      - 5432:5432
    command: postgres -c wal_level=logical
    volumes:
      # automatically runs drizzle migrations in alphabetical order
      - ./packages/db/migrations:/docker-entrypoint-initdb.d
    healthcheck:
      test: pg_isready
      interval: 10s
